/*footer {
    bottom: 0;
    position: fixed;
    clear: both;
    padding: .5em 1em;
    border-top: 1px solid #999;
    text-align: center;
    width: 80%;
}*/
footer {
    position: relative;
    bottom: 0;
    clear: both;
    padding: .5em 1em;
    border-top: 1px solid #999;
    text-align: center;
}
.image {
  width: 200px;
  height: 190px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px; 
}
.display { 
  display: inline-block;
  vertical-align: top;
}
.title { 
    font-size: 14pt;
    
}
.buttonstyle {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  width: 80%;
  height: auto;
}
.buttonstyle:hover,
.buttonstyle:focus,
.buttonstyle.focus,
.buttonstyle:active,
.buttonstyle.active,
.open > .dropdown-toggle.buttonstyle {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.buttonstyle:active,
.buttonstyle.active,
.open > .dropdown-toggle.buttonstyle {
  background-image: none;
}